body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}



/* video::-webkit-media-controls-fullscreen-button
{
        display: none !important;
} */

#videodetail .header {
  background-color: #FFD166;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-top: 1.5rem;
}

#videodetail .header :is(div, h1) {
  margin: 0;
  padding: 0;
}

#videodetail .header .right {
  text-align: right;
}

#videodetail video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#videodetail #video {
  position: relative;
}

#videodetail .controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 255, 85, 0.5), rgba(0, 0, 0, 0));
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#videodetail #playpause {
  width: 100px;
  height: 100px;
  background: url(../assets/playpause.png) no-repeat;
  background-size: 100%;
  cursor: pointer;
}
